@model TechScreen.ViewModels.ScreeningViewModel

@{
    ViewData["Title"] = "CreateScreeningQuestions";
}

@section Scripts
    {
    <script>
        $(document).ready(function () {
            //$("#divQ").hide();
            var cnt = 0;
            $("#btnSubmit").hide();
            $("#btnAddQ").click(function (e) {
                e.preventDefault();
                //$("#divQ").show();

                cnt = cnt + 1;

                if (cnt == 5) {
                    $("#btnSubmit").show();
                }
                if (cnt > 10) {
                    alert("Cannot create more than 10 questions");
                    return;
                }

                $('#tblCandidate tr:last').after('\
                    <tr>\
                        <td  style="width:20px;">\
                            <input type="text" asp-for="ScreeningQuestionsModel.QuestionId" disabled class="form-control"  id="QuestionId'+ cnt.toString() + '"' + ' value='+cnt+'>\
                        </td>\
                        <td>\
                            <input type="text" asp-for="ScreeningQuestionsModel.QuestionText" class="form-control" id="QuestionText'+ cnt.toString() + '"' + '>\
                            <span asp-validation-for="ScreeningQuestionsModel.QuestionText" class="text-danger"></span>\
                        </td>\
                        <td style="display:none">\
                            <input type="text" asp-for="ScreeningQuestionsModel.ScreeningId" class="form-control" id="ScreeningId'+ cnt.toString() + '"' + ' value=' + @Model.Screening.ScreeningId +'>\
                        </td>\
                    </tr>\
                    ');
            });

            $("#btnSubmit").click(function (e) {
                e.preventDefault();
                PostData();
            });

            function PostData() {

                var screeningQuestions = new Array();

                $("#tblCandidate tr").each(function () {
                    // debugger;
                    var row = $(this);
                    var screeningQuestion = {};
                    screeningQuestion.QuestionId = row.find("TD").eq(0).find("input").val();
                    screeningQuestion.QuestionText = row.find("TD").eq(1).find("input").val();
                    screeningQuestion.ScreeningId = row.find("TD").eq(2).find("input").val();


                    if (jQuery.type(screeningQuestion.QuestionText) != "undefined") {
                        screeningQuestions.push(screeningQuestion);
                    }
                });

                var formData = new FormData();
                formData.append('questions', JSON.stringify(screeningQuestions));
                $.ajax(
                    {
                        type: "POST",
                        url: "/Reviewer/CreateScreeningQuestions",
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            var redirectUrl = "/Reviewer/Index";
                            window.location.href = redirectUrl; 
                        },
                        error: function (data) { alert(data); }
                    })
            }

        });
    </script>
}

<h2>CreateScreeningQuestions</h2>

<form id="frmQuestions">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="col-12 well">
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label>Job Title: </label>&nbsp;&nbsp;
                            <span id="cJobTitle">@Model.Screening.JobTitle</span>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label>Area of Expertise: </label>&nbsp;&nbsp;
                            <span id="cAreaOfExpertise">@Model.Screening.JobCat</span>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label>Required Skills: </label>&nbsp;&nbsp;
                            <span id="cRequiredSkills">@Model.Screening.TechId</span>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label>Optional Skills: </label>&nbsp;&nbsp;
                            <span id="cOptionalSkills">@Model.Screening.TechId</span>
                        </div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-12 mb-3">
                            <label>Job Description: </label>&nbsp;&nbsp;
                            <span id="cJobDescription">@Model.Screening.JobDesc</span>
                        </div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-12 mb-3">
                            <label>Screening Questions: </label>&nbsp;&nbsp;
                            <span id="cJobQ">@Model.Screening.ScreeningQuestions</span>
                        </div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-12 mb-3">
                            <label>Special Request to the Interviewer: </label>&nbsp;&nbsp;
                            <span id="cSpecialReq">@Model.Screening.SpecialRequest</span>
                        </div>
                    </div>

                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-12 mb-3">
                            <button class="btn btn-primary pull-right" id="btnAddQ">Add Screening Questions</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="container">
        <div id="divQ" name="divQ">
            <table class="table table-striped" id="tblCandidate">
                <thead>
                    <tr>
                        <th scope="col">Question #</th>
                        <th scope="col">Question Text</th>
                        <th scope="col" style="display:none"></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="row">&nbsp;&nbsp;</div>
        <div class="row">
            <button class="btn btn-primary btn-lg pull-right" id="btnSubmit" asp-action="CreateScreeningQuestions">Submit Questions</button>
        </div>
    </div>
</form>