@model TechScreen.ViewModels.ScreeningViewModel

@{
    ViewData["Title"] = "CreateScreeningQuestions";
}

@section Scripts
    {
    <script>
        $(document).ready(function () {
            //$("#divQ").hide();
            var cnt = 0;
            $("#btnSubmit").hide();
            $("#btnAddQ").click(function (e) {
                e.preventDefault();
                //$("#divQ").show();

                cnt = cnt + 1;

                if (cnt == 5) {
                    $("#btnSubmit").show();
                }
                if (cnt > 10) {
                    alert("Cannot create more than 10 questions");
                    return;
                }

                $('#tblCandidate tr:last').after('\
                    <tr>\
                        <td  style="width:20px;">\
                            <input type="text" asp-for="ScreeningQuestionsModel.QuestionId" disabled class="form-control"  id="QuestionId'+ cnt.toString() + '"' + ' value='+cnt+'>\
                        </td>\
                        <td>\
                            <input type="text" asp-for="ScreeningQuestionsModel.QuestionText" class="form-control" id="QuestionText'+ cnt.toString() + '"' + '>\
                            <span asp-validation-for="ScreeningQuestionsModel.QuestionText" class="text-danger"></span>\
                        </td>\
                        <td style="display:none">\
                            <input type="text" asp-for="ScreeningQuestionsModel.ScreeningId" class="form-control" id="ScreeningId'+ cnt.toString() + '"' + ' value=' + @Model.Screening.ScreeningId +'>\
                        </td>\
                    </tr>\
                    ');
            });

            $("#btnSubmit").click(function (e) {
                e.preventDefault();
                PostData();
            });

            function PostData() {

                var screeningQuestions = new Array();

                $("#tblCandidate tr").each(function () {
                    // debugger;
                    var row = $(this);
                    var screeningQuestion = {};
                    screeningQuestion.QuestionId = row.find("TD").eq(0).find("input").val();
                    screeningQuestion.QuestionText = row.find("TD").eq(1).find("input").val();
                    screeningQuestion.ScreeningId = row.find("TD").eq(2).find("input").val();


                    if (jQuery.type(screeningQuestion.QuestionText) != "undefined") {
                        screeningQuestions.push(screeningQuestion);
                    }
                });

                var formData = new FormData();
                formData.append('questions', JSON.stringify(screeningQuestions));
                $.ajax(
                    {
                        type: "POST",
                        url: "/Reviewer/CreateScreeningQuestions",
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            var redirectUrl = "/Reviewer/Index";
                            window.location.href = redirectUrl;
                        },
                        error: function (data) { alert(data); }
                    })
            }

        });
    </script>
}

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-home icon-gradient bg-mean-fruit">
                </i>
            </div>
            <div>
                Create Interview Questions
            </div>
        </div>
    </div>
</div>
<form id="frmQuestions">


    <div class="main-card mb-3 card">
        <div class="card-body">
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label>Job Title</label>
                    <span>@Model.Screening.JobTitle</span>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label>Area of Expertise</label>
                    <span>@Model.Screening.JobCat.JobCatDesc</span>
                </div>
                <div class="col-md-4 mb-3">
                    <label>Required Skills</label>
                    <span>@Model.Screening.RequiredSkills</span>
                </div>
                <div class="col-md-4 mb-3">
                    <label>Optional Skills</label>
                    <span>@Model.Screening.OptionalSkills</span>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label>Job Description</label>
                    <span>@Model.Screening.JobDesc</span>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label>Screening Questions Provided</label>
                    <span>@Model.Screening.JobScreeningQuestions</span>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label>Special Request to the Interviewer</label>
                    <span>@Model.Screening.SpecialRequest</span>
                </div>
            </div>
            <div class="form-row">
                <div class="col-12 mb-3">
                    <button class="btn btn-primary pull-right" id="btnAddQ">Add Screening Questions</button>
                    <a href="/reviewer/index">Go Back</a>

                </div>
            </div>
        </div>
    </div>

    <div class="main-card mb-3 card">
        <div class="card-body">
            <div class="card-header">
                Questions
            </div>
            <div class="form-row" id="divQ" name="divQ">
                <table class="table table-striped" id="tblCandidate">
                    <thead>
                        <tr>
                            <th scope="col">Question #</th>
                            <th scope="col">Question Text</th>
                            <th scope="col" style="display:none"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="form-row pull-right">
                <button class="btn btn-primary btn-lg pull-right" id="btnSubmit" asp-action="CreateScreeningQuestions">Submit Questions</button>
            </div>
        </div>
    </div>
</form>