@model List<TechScreen.Models.ScreeningModel>
<h1>Admin Dashboard</h1>

@section Inlinecss
    {
    <style>
        .modal-backdrop {
            z-index: 1020;
        }
    </style>
}

@section Scripts{
    <script>
        $(document).ready(function () {

            reviewerId = 0;

            $("#btnAssignScreening").click(function () {

                cnt = 0;
                $('#tblAssign').find('input[type="checkbox"]:checked').each(function () {
                    cnt = cnt + 1;
                    if (cnt > 1) {
                        alert("Cannot assign to multiple reviwers to screening.")
                        return;
                    }
                    reviewerId = $(this).val();
                });

                arrCandiateAndScreeningId = $("#hdnScreeningAndCandidateId").val().split("&");

                screeningId = arrCandiateAndScreeningId[0];
                candidateId = arrCandiateAndScreeningId[1];

                //alert("candidateId: " + candidateId + " screeningId: " + screeningId);


                $.ajax({
                    url: "/Admin/AssignScreeningToReviewer",
                    data: { screeningId: screeningId, reviewerId: reviewerId }
                }).done(function () {
                    //$(this).addClass("done");
                    $('#assignScreeningToReviewerModal').modal('toggle');
                });

            });

            $(".assignButton").click(function (e) {

                //alert("thi val: " + $(this).val());

                var hiddenVal = $(this).val()

                $("#hdnScreeningAndCandidateId").val(hiddenVal);

                var url = $('#assignCandidateToReviewerModal').data('url');

                $.get(url, function (data) {
                    $('#reviewerContainer').html(data);

                    $('#assignCandidateToReviewerModal').modal('show');
                });

                e.preventDefault();

                return false;
            });

            $(".assignScreeningButton").click(function (e) {

                //alert("thi val: " + $(this).val());

                var hiddenVal = $(this).val()

                $("#hdnScreeningAndCandidateId").val(hiddenVal);

                var url = $('#assignScreeningToReviewerModal').data('url');

                $.get(url, function (data) {
                    $('#reviewerContainer').html(data);

                    $('#assignScreeningToReviewerModal').modal('show');
                });

                e.preventDefault();

                return false;
            });

        });
    </script>

}
<input type="hidden" name="hdnScreeningAndCandidateId" value="" id="hdnScreeningAndCandidateId"/>


<div class="container">
    @foreach (var screen in Model)
    {
        <div class="col-xs-12">
            <div class="col-md-12 well">
                <div class="row"><h2>Job Requirement</h2></div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label>Hiring Company Name: </label>&nbsp;&nbsp;
                        <span id="cHiringCompanyName">@screen.HiringCompanyName</span>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>Job Requisition #: </label>&nbsp;&nbsp;
                        <span id="cJobRequisition">@screen.JobRequisitionNumber</span>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>Job Title: </label>&nbsp;&nbsp;
                        <span id="cJobTitle">@screen.JobTitle</span>
                    </div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label>Area of Expertise: </label>&nbsp;&nbsp;
                        <span id="cAreaOfExpertise">@screen.JobCat</span>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>Required Skills: </label>&nbsp;&nbsp;
                        <span id="cRequiredSkills">@screen.TechId</span>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>Optional Skills: </label>&nbsp;&nbsp;
                        <span id="cOptionalSkills">@screen.TechId</span>
                    </div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label>Job Description: </label>&nbsp;&nbsp;
                        <span id="cJobDescription">@screen.JobDesc</span>
                    </div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label>Screening Questions: </label>&nbsp;&nbsp;
                        <span id="cJobQ">@screen.ScreeningQuestions</span>
                    </div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label>Special Request to the Interviewer: </label>&nbsp;&nbsp;
                        <span id="cSpecialReq">@screen.SpecialRequest</span>
                    </div>
                </div>
                <div class="row">&nbsp;</div>
                @if (screen.ReviewerId == null)
                {
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <button class="btn btn-link assignScreeningButton" value="@screen.ScreeningId&0">Assign Screening To Reviewer</button>
                        </div>
                    </div>
                }
                else
                {
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <button class="btn btn-link reAssignScreeningButton" value="@screen.ScreeningId">ReAssign Screening</button>
                    </div>
                </div>
                }
                <div class="row"><hr /></div>
                <div class="row"><h2>Candidates</h2></div>
                <div class="row">&nbsp;&nbsp;</div>
                @if (screen.ScreeningCandidate != null && screen.ScreeningCandidate.Count > 0)
                {
                    <table class="table table-striped" id="tblCandidate">
                        <thead>
                            <tr>
                                <th scope="col">Candidate First Name</th>
                                <th scope="col">Candidate Last Name</th>
                                <th scope="col">Candidate Email</th>
                                <th scope="col">Candidate Contact No</th>
                                <th scope="col">Screening Status</th>
                                <th scope="col">Overall score</th>
                                <th scope="col">Last Updated</th>
                                <th scope="col">View Detailed Score Report</th>
                                <th scope="col">Assign to Reviewer</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var candidate in screen.ScreeningCandidate)
                            {
                                if (@candidate != null)
                                {
                                    string screeningStatus = "";

                                    if (candidate.ScreeningStatus == "P")
                                    {
                                        screeningStatus = "Pending";
                                    }
                                    if (candidate.ScreeningStatus == "C")
                                    {
                                        screeningStatus = "Complete";
                                    }
                                    if (candidate.ScreeningStatus == "A")
                                    {
                                        screeningStatus = "Assigned to Reviewer";
                                    }
                                    <tr>
                                        <td>@candidate.CandidateFirstName</td>
                                        <td>@candidate.CandidateLastName</td>
                                        <td>@candidate.CandidateEmail</td>
                                        <td>@candidate.CandidatePhone</td>
                                        <td>@screeningStatus</td>
                                        <td>@candidate.OverAllScore</td>
                                        <td>@candidate.LastUpdated</td>
                                        <td><a href="">View Detailed Report</a></td>
                                        @*<td><a href="#" class="assignLink" onclick="assignReviewer('@candidate.CandidateId');">Assign</a></td>*@
                                        <td><button class="btn btn-link assignButton" value="@candidate.CandidateId&@screen.ScreeningId">Assign</button></td>


                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    }
</div>



@*<div class="modal fade" id='assignCandidateToReviewerModal' data-url='@Url.Action("OpenReviewerModal")' tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl" style="width:1200px;">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalCenterTitle">Assign Reviewer</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id='reviewerContainer'>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="btnAssign">Assign Reviewer</button>
            </div>
        </div>
    </div>
</div>*@

<div class="modal fade" id='assignScreeningToReviewerModal' data-url='@Url.Action("OpenReviewerModal")' tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl" style="width:1200px;">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalCenterTitle">Assign Reviewer</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id='reviewerContainer'>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="btnAssignScreening">Assign Reviewer</button>
            </div>
        </div>
    </div>
</div>