@*@model TechScreen.ViewModels.AdminVM*@

@section Inlinecss
    {
    <style>
        .modal-backdrop {
            z-index: 3;
        }
    </style>
}

@section Scripts{
    <script>
        $(document).ready(function () {

            $('.iconclass').on('click', function (e) {

                if ($(this).hasClass("fa-plus")) {
                    $(this).removeClass("fa-plus");
                    $(this).addClass("fa-minus");
                }
                else {
                    $(this).addClass("fa-plus");
                    $(this).removeClass("fa-minus");
                }
            });

            reviewerId = 0;

            $("#btnAssignScreening").click(function () {

                cnt = 0;
                $('#tblAssign').find('input[type="checkbox"]:checked').each(function () {
                    cnt = cnt + 1;
                    if (cnt > 1) {
                        alert("Cannot assign to multiple reviwers to screening.")
                        return;
                    }
                    reviewerId = $(this).val();
                });

                arrCandiateAndScreeningId = $("#hdnScreeningAndCandidateId").val().split("&");

                screeningId = arrCandiateAndScreeningId[0];
                candidateId = arrCandiateAndScreeningId[1];

                //alert("candidateId: " + candidateId + " screeningId: " + screeningId);


                $.ajax({
                    url: "/Admin/AssignScreeningToReviewer",
                    data: { screeningId: screeningId, reviewerId: reviewerId }
                }).done(function () {
                    //$(this).addClass("done");
                    $('#assignScreeningToReviewerModal').modal('toggle');
                });

            });

            $(".assignButton").click(function (e) {

                //alert("thi val: " + $(this).val());

                var hiddenVal = $(this).val()

                $("#hdnScreeningAndCandidateId").val(hiddenVal);

                var url = $('#assignCandidateToReviewerModal').data('url');

                $.get(url, function (data) {
                    $('#reviewerContainer').html(data);

                    $('#assignCandidateToReviewerModal').modal('show');
                });

                e.preventDefault();

                return false;
            });

            $(".assignScreeningButton").click(function (e) {

                //alert("thi val: " + $(this).val());

                var hiddenVal = $(this).val()

                $("#hdnScreeningAndCandidateId").val(hiddenVal);

                var url = $('#assignScreeningToReviewerModal').data('url');

                $.get(url, function (data) {
                    $('#reviewerContainer').html(data);

                    $('#assignScreeningToReviewerModal').modal('show');
                });

                e.preventDefault();

                return false;
            });

        });
    </script>

}
<input type="hidden" name="hdnScreeningAndCandidateId" value="" id="hdnScreeningAndCandidateId" />

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="fas fa-tachometer-alt"></i>
            </div>
            <div>
                Admin Dashboard
            </div>
        </div>
    </div>
</div>



<div class="main-card mb-3 card">
    <div class="card-header" style="background-color:blue;">
        <p style="color: white">Screening Summary</p>
    </div>
    <div class="card-body">
        <div class="form-row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="align-middle mb-0 table table-striped table-hover" id="tblAdminSummary">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Status</th>
                                <th>Action</th>
                                <th>Candidates</th>
                                <th>Job Title</th>
                                <th>Area of Expertise</th>
                                <th>Questions?</th>
                                <th>Required Skills</th>
                                <th>Date Created</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ 
                                var cnt = 0;
                            }
                            @foreach (var item in Model.lstScreening)
                            {
                                var adminStatus = item.AdminStatus.Replace('_', ' ');
                                var reviewerStatus = item.ReviewerStatus.Replace('_', ' ');

                                cnt = cnt + 1;
                                <tr>
                                    <td data-toggle="collapse" data-target="#accordion-@cnt.ToString()" class="clickable">
                                        <i class="fas fa-plus iconclass"></i>
                                    </td>
                                    <td style="width:50px;">
                                        @if (adminStatus == "New")
                                        {
                                            <div class="badge badge-danger">@item.Status</div>
                                        }
                                        @if (adminStatus == "Awaiting Reviewer Response" || item.AdminStatus == "Screening Invitation Sent" || item.AdminStatus == "Awaiting Candidate Response")
                                        {
                                            TimeSpan span = DateTime.Now - item.LastUpdated ;
                                            var totalHours = Convert.ToInt32(span.TotalHours);

                                            if (@totalHours > 1)
                                            {
                                                <div class="badge badge-danger">@item.AdminStatus (@totalHours hours)</div>
                                            }
                                            else
                                            {
                                                <div class="badge badge-info"> @item.AdminStatus</div>
                                            }
                                        }

                                    </td>
                                    <td style="width:150px;">
                                        @if (adminStatus == "New")
                                        {
                                            <button class="btn btn-link assignScreeningButton" value="@item.ScreeningId&0">Assign</button>
                                        }
                                        </td>
                                    <td style="width:10px;">@item.ScreeningCandidate.Count</td>
                                    <td style="width:200px;">@item.JobTitle</td>
                                    <td style="width:300px;">@item.JobCat.JobCatDesc</td>

                                    @if (string.IsNullOrEmpty(item.JobScreeningQuestions))
                                    {
                                        <td style="width:50px;">No</td>
                                    }
                                    else
                                    {
                                        <td style="width:50px;">Yes</td>
                                    }

                                    <td>@item.RequiredSkills</td>
                                    <td style="width:200px;">@item.CreatedOn</td>
                                </tr>
                                    <tr id="accordion-@cnt.ToString()" class="collapse">
                                        <td colspan="9">
                                            @if (item.Reviewer != null)
                                            {
                                                var reviewer = item.Reviewer;
                                            <div class="form-row">
                                                <div class="col-md-3">
                                                    <label><b>Reviewer Name</b></label> @reviewer.FirstName  @reviewer.LastName
                                                </div>
                                                <div class="col-md-3">
                                                    <label><b>Email</b></label> @reviewer.Email
                                                </div>
                                                <div class="col-md-2">
                                                    <label><b>Phone1</b></label> @reviewer.Phone1
                                                </div>
                                                <div class="col-md-2">
                                                    <label]><b>Phone2</b></label]> @reviewer.Phone2
                                                </div>
                                                <div class="col-md-2">
                                                    <button class="btn btn-link assignScreeningButton" value="@item.ScreeningId&0">Re-Assign</button>
                                                </div>
                                            </div>
                                            }

                                            <div class="card-header" style="background-color:lavender;">
                                                Candidates
                                            </div>
                                            <div class="card-body">

                                                <div class="form-row">
                                                    <div class="col-md-12">
                                                        <div class="table-responsive">
                                                            <table class="table table-striped" id="tblCandidate">
                                                                <thead>
                                                                    <tr>
                                                                        <th scope="col">Candidate First Name</th>
                                                                        <th scope="col">Candidate Last Name</th>
                                                                        <th scope="col">Candidate Email</th>
                                                                        <th scope="col">Candidate Contact No</th>
                                                                        <th scope="col">Status</th>
                                                                        <th scope="col">Action</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var candidate in item.ScreeningCandidate)
                                                                    {
                                                                        var candidateStatus = @candidate.ScreeningStatus.Replace('_', ' ');
                                                                    <tr>
                                                                        <td>
                                                                            @candidate.CandidateFirstName
                                                                        </td>
                                                                        <td>
                                                                            @candidate.CandidateLastName
                                                                        </td>
                                                                        <td>
                                                                            @candidate.CandidateEmail
                                                                        </td>
                                                                        <td>
                                                                            @candidate.CandidatePhone
                                                                        </td>
                                                                        <td class="text-center">
                                                                            @if (candidateStatus == "Completed")
                                                                            {
                                                                                <div class="badge badge-success">@candidate.ScreeningStatus</div>

                                                                            }
                                                                            else
                                                                            {
                                                                                <div class="badge badge-warning">@candidateStatus</div>
                                                                            }
                                                                        </td>
                                                                        <td class="text-center">
                                                                            @if (candidate.ScreeningStatus == "Completed")
                                                                            {
                                                                                <a href="/Reviewer/ScoreCard?id=@candidate.CandidateId" class="btn btn-primary">View Score Card</a>
                                                                            }
                                                                            else
                                                                            {
                                                                                <button type="button" id="PopoverCustomT-1" class="btn btn-sm">None</button>
                                                                            }
                                                                        </td>
                                                                    </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id='assignScreeningToReviewerModal' data-url='@Url.Action("OpenReviewerModal")' tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" style="width:1200px;">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalCenterTitle">Assign Reviewer</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id='reviewerContainer'>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="btnAssignScreening">Assign Reviewer</button>
            </div>
        </div>
    </div>
</div>
